# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Search Platform Dependent Characters'
      'command': 'search-platform-dependent-characters:checkSelection'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Search Platform Dependent Characters'
      'submenu': [
        {
          'label': 'Check Selection'
          'command': 'search-platform-dependent-characters:checkSelection'
        }
      ]
    ]
  }
]
